---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b831186&hashkey=cba4bb36bf3d9f2bfbba39012a3b23cc173bc05c&ip=109.235.143.113&locale=de&offer_types=112&page=&pub0=&timestamp=1380014574&uid=player1
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 68a825bbfa23a920f7f49ac3ce582de38251bbfc
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - '"0b711f8c5581cb697808a53cfeb53593"'
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=player1"},"offers":[]}'
  recorded_at: Tue, 24 Sep 2013 09:22:54 GMT
recorded_with: VCR 2.5.0
