<p id="notice"><%= notice %></p>

<div class='offer'>
  <div class='title'>Offer Title</div>
  <div class='thumbnail'>Offer Thumbnail</div>
  <div class='lowres'>Offer Lowres</div>
  <div class='payout'>Offer Payout</div>
</div>

<%= link_to 'Edit', edit_user_request_path(@user_request) %> |
<%= link_to 'Back', user_requests_path %>
