---
http_interactions:
- request:
    method: get
    uri: http://api.sponsorpay.com/feed/v1/offers.json?appid=157&device_id=2b6f0cc904d137be2e1730235f5664094b831186&hashkey=79a1c617b3c4dec1a460c9b8f24233c41fd13b1b&ip=109.235.143.113&locale=de&offer_types=112&page=1&pub0=MyString&timestamp=1379936385&uid=MyString
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Sponsorpay-Response-Signature:
      - 49534503a3a4051438d80c477b09d537e7b7c405
      X-Sponsorpay-Response-Code:
      - NO_CONTENT
      Etag:
      - '"7f58f27134b07b3366c4d56463212f3e"'
    body:
      encoding: UTF-8
      string: '{"code":"NO_CONTENT","message":"Successful request, but no offers are
        currently available for this user.","count":0,"pages":0,"information":{"app_name":"Demo
        iframe for publisher - do not touch","appid":157,"virtual_currency":"Coins","country":"DE","language":"DE","support_url":"http://api.sponsorpay.com/support?appid=157&feed=on&mobile=on&uid=MyString"},"offers":[]}'
  recorded_at: Mon, 23 Sep 2013 11:39:47 GMT
recorded_with: VCR 2.5.0
