{"http_interactions":[{"request":{"method":"get","uri":"http://api.sponsorpay.com/feed/v1/offers.json?appid=157\u0026device_id=2b6f0cc904d137be2e1730235f5664094b831186\u0026hashkey=365673c5c4ea7e7c4049406d3de3f1de4dc02b77\u0026ip=109.235.143.113\u0026locale=\u0026offer_types=112\u0026page=\u0026pub0=\u0026timestamp=0\u0026uid=MyString","body":{"encoding":"US-ASCII","base64_string":""},"headers":{}},"response":{"status":{"code":400,"message":"Bad Request"},"headers":{"Content-Type":["application/json"], "Status":["400 Bad Request"]},"body":{"encoding":"UTF-8","base64_string":"eyJjb2RlIjoiRVJST1JfSU5WQUxJRF9USU1FU1RBTVAiLCJtZXNzYWdlIjoi\nQW4gaW52YWxpZCBvciBleHBpcmVkIHRpbWVzdGFtcCB3YXMgZ2l2ZW4gYXMg\nYSBwYXJhbWV0ZXIgaW4gdGhlIHJlcXVlc3QuIn0=\n"},"http_version":null},"recorded_at":"Mon, 23 Sep 2013 12:59:57 GMT"}],"recorded_with":"VCR 2.5.0"}