<div class='offer'>
  <div class='title'><%= content_item.title %></div>
  <div class='thumbnail'><%= image_tag content_item.thumbnail[:lowres] %></div>
  <div class='payout'><%= content_item.payout%></div>
</div>